{
  "stage": 1,
  "whitelist": [
    "asyncToGenerator",
    "flow",
    "react",
    "runtime",
    "strict",
    "es6.destructuring",
    "es6.modules",
    "es6.objectSuper",
    "es6.parameters.default",
    "es6.parameters.rest",
    "es6.properties.computed",
    "es6.regex.sticky",
    "es6.regex.unicode",
    "es6.spread",
    "es6.tailCall",
    "es7.asyncFunctions",
    "es7.classProperties",
    "es7.comprehensions",
    "es7.decorators",
    "es7.doExpressions",
    "es7.exponentiationOperator",
    "es7.exportExtensions",
    "es7.functionBind",
    "es7.objectRestSpread",
    "es7.trailingFunctionCommas"
  ],
  "optional": [
    "asyncToGenerator",
    "runtime"
  ]
}
