
.nav-right {
  float: right;
}

BODY {
  color: white;
  background: #023c69;
  font-family: "HelveticaNeue-Light", Helvetica, Sans-serif;
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
}
H1 {
  letter-spacing: 0.5em;
  font-weight: lighter;
}
a img { border: none; }
.download {
  font-weight: bold;
  background: white;
  color: #333333;
  font-size: 18;
  padding-left: 24px;
  padding-right: 24px;
  border: 2px solid;
  border-color: #89a3bd;
  border-radius: 12px;
  margin-top: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
}
H3 {
  font-weight: normal;
}
H4 {
}
a { text-decoration: none; }
