html,
body,
#root {
  height: 100%;
}

.site {
  display: flex;
  min-height: 100%;
  flex-direction: column;

  .siteContent {
    flex: 1;
  }
}

.homeSite .navbar-default {
  border-color: transparent;

  .navbar-nav > .active > a {
    background-color: @navbar-default-bg;

    &:hover {
      color: @navbar-default-link-hover-color;
      background-color: @navbar-default-link-hover-bg;
    }
  }
}

.navLogoType {
  font-weight: 200;

  img {
    display: inline-block;
    height: 13px;
    margin-right: 12px;
    vertical-align: baseline;
    width: 14px;
  }
}

.page-header {
  margin-top: @line-height-computed;
}

.installationButton {
  display: block;
}
